body {
  background-color: #201C1D;
  color: #FFE9F3;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
}

a {
  background-color: #BDFFFD;
  color: #201C1D;
  padding: 5px;
  text-decoration: none;
}

h1, h2, h3 {
  color: #0081A7;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.card {
  background-color: #3A3335;
  border: 1px, solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.image-circle {
  border-radius: 50%;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.make-button-round {
  border-radius: 5px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
